:root{
    --primary-color: rgb(190, 74, 6);
    --seconday-color: rgb(120, 3, 3);
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

body{
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: black;
}

.logo{
    margin: 40px;
    border: 1rem solid black;
    padding: 1rem;
    background-color: var(--seconday-color);
    display: inline-block;
    border-radius: 10px;
}

.logo img{
    display: block;
    width: 200px;
    height: auto;
}

nav, p, section, article{
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero{
    min-height: 500px;
    margin-bottom: 2rem;
    position: relative;
    
}

.hero img{
    display: block;
    width: 100%;
    height: auto;
}

h1{
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article{
    position: absolute;
    float: right;
}

.hero article img{
    float: right;
    width: 125px;
}





