:root{
    --primary-color: rgb(6, 184, 190);
    --seconday-color: rgb(120, 3, 3);
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    align-items: center;
    
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

body{
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: black;
}

.logo{
    margin: 40px;
    border: 1rem solid black;
    padding: 1rem;
    background-color: var(--seconday-color);
    display: inline-block;
    border-radius: 10px;
}

.logo img{
    display: block;
    width: 200px;
    height: auto;
}
nav{
    display: flex;
    grid-column: 2/4;
    justify-self: end;
    align-items: center;
    padding: 0 1rem;
    list-style: none;
    gap: 1rem;

}
nav ul{
    display: flex;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
}
nav a{
    background-color: var(--accent1-color);
    color: white;
    text-decoration: none;
    display: block;
    padding: 1rem 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


nav, p, section, article{
    margin: 16px;
    padding: 8px;
}

.socialmedia {
    display: flex;
    gap: 1.5rem;
    justify-content: flex-end;
    margin-right: 2rem;
    padding: 1rem 0;
}

.socialmedia a {
    display: block;
}

.socialmedia img{
    width: 40px;
    height: 40px;
}

.hero{
    min-height: 500px;
    margin-bottom: 2rem;
    position: relative;
    
}

.hero article img{
    float: right;
    
    width: 30%;
    height: auto;
    margin-top: 8rem;
    margin-left: 5rem;
}

.hero p{
    
    margin-top: 8rem;
}

h1{
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}



.history-grid{
    display: grid;
    grid-template-columns: 1fr 350px 1fr;
    gap: 2rem;
    align-items: center;
    margin: 3rem 0;
    text-align: justify; 
}

.history-grid img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    justify-self: center;
}

section h2{
    margin-top: 5rem;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
}

p{
    margin-bottom: 1fr;
}

.five-pictures{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1.5rem;
    margin: 3rem 0;
    text-align: center;
}

.five-pictures figure{
    margin: 0;
}

.five-pictures img{
    width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
