:root{
    --primary-color: rgb(0, 0, 0);
    --seconday-color: rgb(120, 3, 3);
    --accent1-color: #000000;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    align-items: center;
    
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

body{
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: black;
    font-weight: normal;
}

.logo{
    margin: 40px;
    border: 1rem solid black;
    padding: 1rem;
    background-color: var(--seconday-color);
    display: inline-block;
    border-radius: 10px;
}

.logo img{
    display: block;
    width: 200px;
    height: auto;
}
nav{
    display: flex;
    grid-column: 2/4;
    justify-self: end;
    align-items: center;
    padding: 0 1rem;
    list-style: none;
    gap: 1rem;

}
nav ul{
    display: flex;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
}
nav a{
    background-color: var(--accent1-color);
    color: white;
    text-decoration: none;
    display: block;
    padding: 1rem 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


nav, p, section, article{
    margin: 16px;
    padding: 8px;
}

.socialmedia {
    max-width: 100%;
    
    display: flex;
    gap: 1.5rem;
    justify-content: flex-end;
    margin-right: 2rem;
    padding: 1rem 0;
}

.socialmedia a {
    display: block;
}

.socialmedia img{
    width: 40px;
    height: 40px;
    background: white;
    padding: 8px;
}

.hero{
    height: 70vh;
    min-height: 400px;
    margin-bottom: 3rem;
    position: relative;
    overflow: hidden;
    
}







iframe{
    margin-top: 5rem;
}
.contact-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    gap: 3rem;
    max-width: 1000px;
    max-height: 600px;
    margin: 0 auto;
    padding: 2rem;
    align-items: start;
}

.contact-form label {
    padding: 7px;
}

.contact-form {
    width: 100%;
    margin-bottom: 0;
    padding: 2rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
    
}




.below ul{
    text-align: center;
    margin-top: 7rem;
}

h1{
    position: absolute;
    top: 10px;
    width: 100%;
    height: 5rem;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    
    color: #000000;
}

.history {
    border: 3px solid black;
    margin-top: 2rem;
    padding: 2rem 0;
    text-align: center;
    
}

.history figcaption{
    padding: 5px;
}

.history-grid{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    align-items: center;
    margin-top: 10px;
    text-align: center;
     
}

.history-grid img {
    width: 75%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    justify-self: center;
    
}





