* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2em;
    color: #333;
    background: #fff;

}

header {
    margin: 0 auto;
    width: 650px;
}

h1 {
    margin: 1rem;
    font-size: 2rem;
    color: coral;
    text-align: center;

}

form {
    width: 650px;
    margin: 0 auto;
    padding: 2rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 1rem;
    background-color: #eee;
    display: grid;
}
